body {
  margin: 0;
  font-family: verdana;
  font-size: 10pt;
}

.logo {
  height: 40px;
  padding: 20px 0px 0px 5px;
}

.App-header {
  height: 80px;
  background-color: #2E86C1;
}

.productsList {
  width: 300px;
  float: left;
  border: 1px solid #ccc;
  text-align: center;
  height: 370px;
  padding: 10px;
  margin: 5px;
}

.btn {
  background-color: #D35400;
  width: 150px;
  color: #fff;
  font-size: 11pt;
  height: 45px;
  margin-top: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  background: #000;
  padding: 3px 0px 0px 0px;
  position: absolute;
  margin: 17px 0px 0px -12px;
  color: #fff;
}

.searchContainer {
  clear: both;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  margin: 10px 0px 10px 6px;
  width: 82%;
  height: 80px;
}

.searchInput {
  width: 320px;
  height: 30px;
  margin: 20px 10px 20px 0px;
  clear: both;
  border: 1px solid #000;
  font-size: 20px;
}

.searchBtn{
  background-color: #000A87;
  width: 150px;
  color: #fff;
  font-size: 11pt;
  height: 34px;
  margin-top: 2px;
}

.paddingLeft10 {
  padding-left: 10px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}
