body {
  margin: 0;
  font-family: verdana;
  font-size: 10pt;
}

.logo {
  height: 40px;
  padding: 20px 0px 0px 5px;
}

.App-header {
  height: 80px;
  background-color: #2E86C1;
}

.productsList {
  width: 300px;
  float: left;
  border: 1px solid #ccc;
  text-align: center;
  height: 370px;
  padding: 10px;
  margin: 5px;
}

.btn {
  background-color: #D35400;
  width: 150px;
  color: #fff;
  font-size: 11pt;
  height: 45px;
  margin-top: 10px;
}
