body {
  margin: 0;
  font-family: Arial;
  font-size: 10pt;
}

.logo {
  height: 40px;
  padding: 20px 0px 0px 5px;
}

.loginLinkContainer {
  float: right;
  margin: 30px 10px 0px 0px;
}

.registrationSuccessContainer {
  height: 500px;
  font-size: 17px;
  padding-left: 50px;
  line-height: 1.6;
}

.cartMainContainer {
  width: 600px;
  height: 200px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}

.cartIconContainer {
  float: right;
  textAlign: left;
  width: 350px
}

.cartIcon {
  height: 50px;
  padding: 20px 0px 0px 5px;
}

.cartPrice {
  font-size: 20px;
  font-weight: bold;
}

.cartUpdateBtn {
  width: 28px;
  height: 28px;
  background: linear-gradient(#fff;#F9F9F9);
  display: inline-block;
  border: 1px solid #C2C2C2;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  padding-top: 1px;
  line-height: 1;
}

.cartSummaryContainer {
  float: left;
  padding: 10px;
  border: 1px dotted #000;
  margin: 10px 0px 0px 10px;
  width: 300px;
  height: 300px;
  background-color: #f4f4f4;
}

.totalAmount {
  font-size: 20px;
  margin: 120px 0px 0px 0px;
  border-bottom: 1px solid #c4c4c4;
  padding-top: 20px;
}

.qtyInput {
    width: 30px;
    height: 20px;
    text-align: center;
    margin: 0px 5px 0px 5px;
}


.App-header {
  height: 80px;
  background-color: #2E86C1;
}

.footer{
  float: left;
  width: 100%;
  height: 80px;
  background-color: #ccc;
  text-align: center;
  margin: 20px 0px 0px 0px;
  padding: 30px 0px 0px 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.productsList {
  width: 327px;
  float: left;
  border: 1px solid #ccc;
  text-align: center;
  height: 370px;
  padding: 10px;
  margin: 5px;
}

.btn {
  background-color: #D35400;
  width: 150px;
  color: #fff;
  font-size: 11pt;
  height: 45px;
  margin-top: 10px;
  border-radius: 50px;
}

.btn:hover {
  background-color: #2E86C1;
  color: #fff;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  background: #000;
  padding: 3px 0px 0px 0px;
  position: absolute;
  margin: 17px 0px 0px -12px;
  color: #fff;
}

.searchContainer {
  clear: both;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  margin: 100px 0px 10px 6px;
  width: 99%;
  height: 80px;
}

.searchInput {
  width: 520px;
  height: 30px;
  margin: 20px 10px 20px 0px;
  clear: both;
  border: 1px solid #000;
  font-size: 20px;
}

.priceDetailsTitle {
   border-bottom: 1px solid #f0f0f0;
   color: #878787;
   font-size: 20px;
   clear: both;
   margin-bottom: 30px;
   width: 100%;
}

.PlaceOrderBtn {
  background-color: #D35400;
  width: 300px;
  color: #fff;
  font-size: 11pt;
  height: 45px;
  margin-top: 30px;
  border-radius: 5px;
}

.PlaceOrderBtn:hover {
  background-color: #2E86C1;
}

.filterBox {
  height: 40px;
  width: 200px;
  clear: both;
  margin: 20px 0px 0px 0px;
  font-size: 14px;
}
.formGroup {
  margin: 5px 0px 15px 0px;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}

.formControl {
  display: block;
  width: 100%;
  height: 20px;
  padding: 6px;
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

a {
  color: #ffcc00;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.required{
  color: #FF0000;
}

input.error {
  border: 1px solid #FF5733;
}

.error {
  color:#db2269;
  font-size: 0.805em;
  display: relative;
}

.paddingLeft10 {
  padding-left: 10px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.width200px {
  width: 200px;
}
